{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать таблицу</title>
    <link rel="stylesheet" href="{% static 'css/tableform.css' %}">
</head>
<body>
    <h1>Создать новую таблицу</h1>
    <form method="POST" class="table-form">
        {% csrf_token %}
        {{ form.as_p }} <!-- Это автоматически отобразит все поля формы -->

        <button type="submit" class="btn-save">Сохранить</button>
        <a href="{% url 'custom_table_list' %}" class="btn-cancel">Отмена</a>
    </form>
</body>
</html>
